body{
	background-image: url(mes_images/fond.PNG);
	color: white;
	background-attachment: fixed;
	width: 100%;
}
/* ____________________________________________________________________________________________________________________________________ */

.navbar{
	display: flex;
	padding: 15px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4;/* pour mettre de l'espace sur un élément(vers le bas)*/
	width: 100%;
}
a{	
	text-decoration: none;
	font-size: large;
	color: rgb(13, 135, 163);	
}
ul{ 
	list-style: none;
	display: flex;
	gap: 30px;/*pour mettre de l'espace entre les éléments*/
	align-items: center;
}	
/* __________________________________________________________________________________________________________________________________________________________________ */
.tout{
	padding: 30px;
}
.presentation{
	display: flex;
	margin: 30px;
	width: 100%;
}
.presentation_image{
	width: 50%;
	text-align: center;
	width: 50%;
	height: 50%;
}
.presentation_image .photo{
	border: 1px solid #9f59d1;
	border-radius: 5%;
	width: 50%;
}
.presentation_text{
	width: 50%;
	height: 50%;
	text-align: center;
	display: block;
	font-size: large;
	align-items: center;
}
.choses{
	display: flex;
	text-align: center;
	padding: 50px;
	width: 100%;
}
.choses h1{
	color: rgb(13, 135, 163);
}
.projects{
	border: 1px solid #9f59d1;
	border-radius: 10px;
	box-shadow: 0 0 10px #9f59d1;
	text-align: center;
	margin: 20px;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.3);	
}
.parcours{
	border: 1px solid #9f59d1;
	border-radius: 10px;
	box-shadow: 0 0 10px #9f59d1;
	text-align: center;
	margin: 20px;
	width: 350px;
	background-color: rgba(0, 0, 0, 0.3);
}
.formations{
	border: 1px solid #9f59d1;
	border-radius: 10px;
	box-shadow: 0 0 10px #9f59d1;
	text-align: center;
	margin: 20px;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.3);
}
.contacts{
	text-align: center;
	margin: 20px;
}
/*__Projects______________________________________________________________________________________________________________________________________________________________*/
.realise{
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #9f59d1;
	border-radius: 10px;
	box-shadow: 0 0 10px #9f59d1;
	text-align: center;
	display: flex;
	margin: 30px;
	padding: 30px;
}
.bulali{
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #9f59d1;
	border-radius: 10px;
	box-shadow: 0 0 10px #9f59d1;
	text-align: center;
	margin: 30px;
	padding: 30px;
	width: 50%;
}
.realise h1{
	color: #9f59d5;
}

.portefolio{
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #9f59d1;
	border-radius: 10px;
	box-shadow: 0 0 10px #9f59d1;
	text-align: center;
	margin: 30px;
	padding: 30px;
	width: 50%;
}
.jeux{
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #9f59d1;
	border-radius: 10px;
	box-shadow: 0 0 10px #9f59d1;
	text-align: center;
	margin: 30px;
	padding: 30px;
	width: 50%
}
.commerce{
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #9f59d1;
	border-radius: 10px;
	box-shadow: 0 0 10px #9f59d1;
	text-align: center;
	margin: 30px;
	padding: 30px;
	width: 50%
}



.passion{
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #9f59d1;
	border-radius: 10px;
	box-shadow: 0 0 10px #9f59d1;
	text-align: center;
	display: flex;
	margin: 30px;
	padding: 30px;
}
.passion_text{
	text-align: center;
	width: 50%;
}
.event{
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #9f59d1;
	border-radius: 10px;
	box-shadow: 0 0 10px #9f59d1;
	text-align: center;
	display: flex;
	margin: 30px;
	padding: 30px;
	gap: 30px;
}
.event_textt{
	text-align: center;
	width: 50%;
	margin: 30px;
}





.formu{
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #9f59d1;
	border-radius: 10px;
	box-shadow: 0 0 10px #9f59d1;
	text-align: center;
	display: flex;
	margin: 30px;


}


.boutton{
	text-align: center;
}
button{
	background-color: rgba(0, 0, 100, 0.3);
	border: 1px solid #9f59d1;
	border-radius: 10px;
	box-shadow: 0 0 10px #9f59d1;
	text-align: center;
}


@media  and (max-width: 900px) and (min-width:) {
	
}